<!-- not working yet-->
<!-- <div *ngIf='showspinner' src='../ui/loading-spinner'></div> -->

<mat-card class="lajme_card" *ngFor='let item of this.fs.lajmet | async'>
  <a (click)="this.ds.openDialog(item.id, item.linku_i_img, item.lajmi_texti, item.linku_i_lajmit, item.article, item.organizata)">
	  <img mat-card-image src="{{item.linku_i_img}}">
  </a>
  <mat-card-content>
    <p>{{item.lajmi_texti}}</p>
  </mat-card-content>

  <mat-card-actions>
    <div class="card-actions">
      <button mat-button disabled>{{item.votes}}</button>
      <button mat-button>
        <mat-icon (click)='this.fs.addVote(item.id, "lajmet")' color='primary'> arrow_upward</mat-icon>
      </button>
      <button mat-button >
        <mat-icon (click)='this.fs.removeVote(item.id, "lajmet")' color='primary'> arrow_downward</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
