
.mat-card {
	width: 18em;
	display: inline-block;
}
.lajme_card {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}

.card-actions {
    display: block;
    margin-left: auto;
	margin-right: auto;
    width: 80%;
    text-align: center;
}
