<div *ngIf='authService.userData; else elseBlock'>
	<mat-card class="user-card">
	  <mat-card-header>
	    <div mat-card-avatar class="example-header-image"></div>
	    <mat-card-title>{{authService.userData.displayName}}</mat-card-title>
	    <mat-card-subtitle>{{authService.userData.email}}</mat-card-subtitle>
	  </mat-card-header>
	  <!-- <img mat-card-image src="authService.userData.photoURL" alt="Photo of User"> -->
	  <mat-card-content>
	  </mat-card-content>
	  <mat-card-actions>
	    <button mat-button (click)='authService.SignOut()'>Shkyqu</button>
	  </mat-card-actions>
	</mat-card>
	<ul>
	<mat-card class="lajme_card" *ngFor='let item of this.bookmarks$ | async'>
  <a (click)="this.ds.openDialog(item.id, item.linku_i_img, item.lajmi_texti, item.linku_i_lajmit, item.article, item.organizata)">
	  <img mat-card-image src="{{item.linku_i_img}}">
  </a>
  <mat-card-content>
    <p>{{item.lajmi_texti}}</p>
  </mat-card-content>

  <mat-card-actions>
    <div class="card-actions">
      <button mat-button disabled>{{item.votes}}</button>
      <button mat-button>
        <mat-icon (click)='this.fs.addVote(item.id, "lajmet")' color='primary'> arrow_upward</mat-icon>
      </button>
      <button mat-button >
        <mat-icon (click)='this.fs.removeVote(item.id, "lajmet")' color='primary'> arrow_downward</mat-icon>
      </button>
      <button mat-button (click)='this.fs.addBookmark(item.id)'>
        <mat-icon matSuffix color='primary'>
          bookmark_border
        </mat-icon>
      </button>      
    </div>
  </mat-card-actions>
</mat-card>
</ul>
</div>


<ng-template #elseBlock>
	<mat-card  class="user-card-logged-out">
		<mat-card-content >
			<h1>Nuk jeni të kyqur</h1>
		</mat-card-content>
		<mat-card-actions>
	    	<button mat-stroked-button color="accent" (click)='ls.openDialog()'>Kliko këtu për tu kyqur</button>
	  	</mat-card-actions>
	</mat-card>

</ng-template>

