<div *ngIf='authService.userData; else elseBlock'>
	<mat-card class="user-card">
	  <mat-card-header>
	    <div mat-card-avatar class="example-header-image"></div>
	    <mat-card-title>{{authService.userData.displayName}}</mat-card-title>
	    <mat-card-subtitle>{{authService.userData.email}}</mat-card-subtitle>
	  </mat-card-header>
	  <!-- <img mat-card-image src="authService.userData.photoURL" alt="Photo of User"> -->
	  <mat-card-content>
	  </mat-card-content>
	  <mat-card-actions>
	    <button mat-button (click)='authService.SignOut()'>Shkyqu</button>
	  </mat-card-actions>
	</mat-card>
	<ul>
		<mat-card class="lajme_card" *ngFor='let item of this.bookmarks$ | async'>
		  <a (click)="this.ds.openDialog(item.id, item.linku_i_img, item.lajmi_texti, item.linku_i_lajmit, item.article, item.organizata)">
			  <img mat-card-image src="{{item.linku_i_img}}">
		  </a>
		  <mat-card-content>
		    <h1>{{item.lajmi_texti}}</h1>
		  </mat-card-content>

		  <mat-card-actions>
		    <div class="card-actions">
		      <button mat-button disabled>{{item.votes}}</button>
		      <button mat-button>
		        <mat-icon (click)='this.fs.addVote(item.lajmi_texti, "lajmet")' color='primary'> arrow_upward</mat-icon>
		      </button>
		      <button mat-button >
		        <mat-icon (click)='this.fs.removeVote(item.lajmi_texti, "lajmet")' color='primary'> arrow_downward</mat-icon>
		      </button>
		      <button mat-button (click)='this.fs.addBookmark(item.lajmi_texti)'>
		        <mat-icon matSuffix color="accent">
		          bookmarks
		        </mat-icon>
		      </button>      
		    </div>
		  </mat-card-actions>
		</mat-card>
	</ul>
</div>


<ng-template #elseBlock>
	<div>
		<mat-card  class="user-card">
			<mat-card-content >
				<h1>Nuk jeni të kyqur</h1>
			</mat-card-content>
			<mat-card-actions>
		    	<button mat-stroked-button color="accent" (click)='ls.openDialog()'>Kliko këtu për tu kyqur</button>
		  	</mat-card-actions>
		</mat-card>
	</div>

</ng-template>

