<mat-card class="lajme_card" *ngFor='let item of this.fs.indeksonlineLajmet | async'>
  <a href="{{item.linku_i_lajmit}}">
	  <img mat-card-image src="{{item.linku_i_img}}">
  </a>
  <mat-card-content>
    <p>{{item.lajmi_texti}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button disabled>{{item.votes}}</button>
    <button mat-button (click)='this.fs.addVote(item.id, "indeksOnline")'>Up</button>
    <button mat-button (click)='this.fs.removeVote(item.id, "indeksOnline")'>Down</button>
  </mat-card-actions>
</mat-card>
